.usersList {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
  height: 40vh;
  border: 2px solid gray;
  border-top: 2px solid white;
  overflow: auto;
  overflow-x: hidden;
}

.message {
  text-align: center;
  font-size: 3vw;
}